@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@700&display=swap');

body,.f2{
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  background: url(img/invoker.jpg);
  background-size: 100%; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


::before::after{
  box-sizing: border-box;
}
.p-0{
  padding: 0;
}
.f2{
  font-size:25px;
  background: #ffcf75; /*rgb(255, 188, 88) */
  padding: 10px;
  margin: 30px;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 15px;
  text-align: center;
}
#knopka{
  background-color: #97d8c0;
  border: none;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0px;
  cursor: pointer;
}
h1{
  text-align: center;
  margin: 0;
  padding: 0;
  color:#be95ff;
}
.anketa{
  margin-left: 15%;
  margin-right: 15%;
  padding: 0;
}
.d-block{
  height: 777px;
}
.nav-link{
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
}
.img-fluid{
  height: 100px;
  width: 100px;
}
.bg-success{
  border-radius: 14px;
}
/*#5D5C61
#379683
#7395AE
#557A95
#81A296 */