@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.container {
margin: 0;

}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  /* font-family: 'Montserrat', sans-serif; */
  background: #F1f1f1f1;

   font-size: 18px;/* увеличил размер текста на сайте */
  line-height: 1.5;
  color: #333;
}

* *:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* контейнер, каркас сайта */
.container {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}

/* интро АКА фоновая картинка */
.intro {

  /*width: 100%;
  height: 100vh; */


  background-size:100% 100% ;


  background: url("../css/images/intro.jpeg") center no-repeat;
  background-size: cover;
}

/* header, или же шапка */
.header {
  width: 100%;
  padding-top: 30px;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-size: 60px;
  font-weight: 700;
  color: #1d0f00;
}

.header__numb {

  font-size: 20px;

  margin-left: 600px;
}

/* Navigation*/
.nav {
  font-size: 20px;
  text-transform: uppercase;
}

.nav__link {
  display: inline-block;
  vertical-align: top;
  margin: 0 10px;

  color: #a70808;
  text-decoration: none;

  transition: color .2s linear;
}

/* полоска bar */
.nav__link::after { 
content: "";
display: block;
width: 100%;
height: 1px;

background-color: rgb(138, 6, 6);



}

.nav__link:hover {
  color: #ff1717;
}
.probel{
  text-align: center;
  margin: 10%;
}
.zagol{
  text-align: center;
  color: #830606;
}
.fon4ik{
  font-size:22px;
  background: #ffc98c; /*rgb(255, 188, 88) */
  padding: 0;
  margin:0;
  border-radius: 20px;
}
.ultras{
  margin: 44px;
}
.po4ta{
  font-weight: bolder;
  font-family: 'Open Sans', sans-serif;
} 
.anketa{
  padding-left: 25%;
  background: #ffc98c;
}
.red{
  color:#830606; 
}